<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
  <h1>CREATE A BASKETBALL TEAM!</h1>
 <body>
<form method="POST" action="/newteam">
  <ul>Team Name: <input type="text" name="name"></ul>
  <ul>Coach: <input type="text" name="coach"></ul>
  <ul>Point Guard: <input type="text" name="pg"></ul>
  <ul>Shooting Guard: <input type="text" name="sg"></ul>
  <ul>Small Forward: <input type="text" name="sf"></ul>
  <ul>Power Forward: <input type="text" name="pf"></ul>
  <ul>Center: <input type="text" name="c"></ul>
  <ul><input type="submit" name="submit" value="submit" id="submit"/></ul>
</form>
 </body>
</html>









<!-- my own reference stuff -->

<!-- <form method="POST" action="/food">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your Favorite Food: <input type="text" name="favorite_food"></p>
  <input type="submit">
</form> -->
